header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    padding: 8px 30px;
    font-family: 'Segoe UI', sans-serif;
    border-bottom: 1px solid #000;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #53a951;
}
.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn_menu{
    display: none;
}
.btn_menu i {
    font-size: 22px;
    cursor: pointer;
    color: #444;
    transition: 0.3s;
}
.btn_menu i:hover {
    color: #53a951;
}
.header-actions,
.center-container {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}
.center-container{
    display: none;
}
.more-btn {
    background: none;
    border: none;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.arrow {
    font-size: 12px;
}
.header-action {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
}

.user-dropdown {
    position: relative;
}
.user-dropdown .btn {
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: none;
    min-width: 160px;
    z-index: 99;
    border-radius: 17px;
}
.dropdown-menu li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    text-decoration: none;
    color: #444;
    transition: background 0.2s ease;
}
.dropdown-menu li a:hover {
    background: #d8d6d6;
    border-radius: 5px;
}
.user-dropdown:hover .dropdown-menu {
    display: block;
}
@media (max-width: 1050px) {
    .center-container, .btn_menu{
        display: block !important;
    }
    .header-actions{
        display: none !important;
    }
}
.user-info {
    font-family: Arial, sans-serif;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.user-info .label {
    margin: 0;
    font-size: 17px;
    text-transform: uppercase;
    color: #666;
}
.user-info .user-id {
    font-size: 18px;
    font-weight: bold;
    color: #50aa56;
}
.user_name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}