.menu {
    width: 265px;
    height: calc(100vh - 57px);
    border-right: 1px solid #000;
    padding: 10px 0;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    transform: translateX(0)
}

.menu.show {
    transform: translateX(0);
}

.menu-name {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #0077b6;
    margin-bottom: 10px;
}

.menu hr {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #ddd;
}

.menu ul {
    padding-left: 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
    margin: 5px 0;
    border-radius: 5px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    text-decoration: none;
    padding: 9px 21px;
    color: #000;
    font-size: 16px;
}

@media (max-width: 1050px) {
    .menu {
        transform: translateX(-100%);
        position: absolute;
        left: 0;
        z-index: 1000;
        background: #fff;
    }
}

.submenu_menu {
    padding: 9px 60px !important;
}

.submenu {
    display: none;
    padding-left: 25px;
}

.submenu li a {
    font-size: 14px;
}

.submenu-arrow {
    float: right;
    transition: transform 0.3s ease;
}

.has-submenu.open>a .submenu-arrow {
    transform: rotate(90deg);
}

.has-submenu.open>.submenu {
    display: block;
    padding-left: 70px;
}
